@{
    //ViewBag.Title = "Index";
}
<style type="text/css">
    .layput-table
    {
        padding: 0 5px;
    }
</style>
<style type="text/css">
    .number-align
    {
        text-align: right;
    }
</style>
<script src='@Url.Content("~/Scripts/extjs/ext-all.js")' type="text/javascript"></script>

<!-- include CSS -->
@*<link rel="stylesheet" type="text/css" href='@Url.Content("~/Scripts/extjs/resources/css/ext-all.css")' />*@
<link rel="stylesheet" type="text/css" href='@Url.Content("~/Scripts/extjs/resources/css/ext-all-access.css")' />
<link rel="stylesheet" type="text/css" href='@Url.Content("~/Content/Site.css")' />
<link rel="stylesheet" type="text/css" href='@Url.Content("~/Content/icons.css")' />

<!-- Start script -->
<script type="text/javascript">
    Ext.Loader.setConfig({ enabled: true });
    Ext.Loader.setPath('Ext.ux', '@Url.Content("~/Scripts/extjs/ux")');

    //Acount control ---------------------------------------------------------------
    var currentUser = '@ViewBag.CurrentUser';
    var CurrentUserRole = '@ViewBag.CurrentUserRole';
    var actionLogoff = "@Url.Action("Logoff", "Account")";
    window.ContentPath = '@Url.Content("~/Content/")';
    //register
    window.register = '@Url.Action("Register","Account")';
    //get allroles
    window.GenComboboxRole = '@Url.Action("GetRoles","Account")';
    //Change role
    window.changeRole = '@Url.Action("UpdateUserRole","Account")';
    //Change password
    window.changePassword = '@Url.Action("ResetPassword","Account")';
    //Disable User
    window.disableUser = '@Url.Action("DisableUser","Account")';
    //Grid Data
    window.gridData = '@Url.Action("GetUserAll", "Account")';
    
    window.gridUnitData = '@Url.Action("GridUnit", "Admin")';
    window.gridDepartmentData ='@Url.Action("GridDepartment", "Admin")';
    window.gridCustomer ='@Url.Action("GridEmployee", "Admin")';
    //variable store
    window.unitData = '@Url.Action("GetUnit", "Admin")';

    //Insert Meterial
    window.create = '@Url.Action("CreateMaterial", "Admin")';
    window.createUnit = '@Url.Action("CreateUnit", "Admin")';
    window.createDepartment = '@Url.Action("CreateDepartment", "Admin")';
    window.createCustomer = '@Url.Action("CreateEmployee", "Admin")';
    //Update
    window.updateMaterial = '@Url.Action("UpdateMaterial", "Admin")';
    window.updateUnit = '@Url.Action("UpdateUnit", "Admin")';
    window.updateDepartment = '@Url.Action("UpdateDepartment", "Admin")';
    window.updateCustomer = '@Url.Action("UpdateEmployee", "Admin")';
    //delete
    window.MaterailDelete = '@Url.Action("DeleteMaterial", "Admin")';
    window.UnitDelete = '@Url.Action("DeleteUnit", "Admin")';
    window.DepartmentDelete = '@Url.Action("DeleteDepartment", "Admin")';
    window.CustomerDelete = '@Url.Action("DeleteEmployee", "Admin")';

    //CommboBox
    window.departCombobox = '@Url.Action("DepartComboBox", "Admin")';

    //Common
    //color
    window.createColor = '@Url.Action("CreateColor", "Admin")';
    window.updateColor = '@Url.Action("UpdateColor", "Admin")';
    window.deleteColor = '@Url.Action("DeleteColor", "Admin")';
    window.gridColorData = '@Url.Action("GridColor", "Admin")';
    window.catelogComboBox = '@Url.Action("GetCatelogy", "Admin")';
    window.branchCombobox = '@Url.Action("GetBranch", "Admin")';

    //brand
    window.createBrand = '@Url.Action("CreateBrand", "Admin")';
    window.updateBrand = '@Url.Action("UpdateBrand", "Admin")';
    window.deleteBrand = '@Url.Action("DeleteBrand", "Admin")';
    window.gridBrandData = '@Url.Action("GridBrand", "Admin")';

    //Catelogy
    window.createCatelogy = '@Url.Action("CreateCatelogy", "Admin")';
    window.updateCatelogy = '@Url.Action("UpdateCatelogy", "Admin")';
    window.deleteCatelogy = '@Url.Action("DeleteCatelogy", "Admin")';
    window.gridCatelogyData = '@Url.Action("GridCatelogy", "Admin")';

    //size
    window.createSize = '@Url.Action("CreateSizes", "Admin")';
    window.updateSize = '@Url.Action("UpdateSizes", "Admin")';
    window.deleteSize = '@Url.Action("DeleteSizes", "Admin")';
    window.gridSizesData = '@Url.Action("GridSizes", "Admin")';

    //----------------------------------------------------------------------------
</script>
<script src="@Url.Content("~/app/view/users/usermodels.js")" type="text/javascript"></script>
<!--Common Model -->
<script src="@Url.Content("~/app/model/common/CommonModel.js")" type="text/javascript"></script>


<!-- include tab panel-->
<script src="@Url.Content("~/app/view/users/EditUserManagemantWindow.js")" type="text/javascript"></script>
<script src="@Url.Content("~/app/view/users/UserManagemantForm.js")" type="text/javascript"></script>
<script src="@Url.Content("~/app/view/users/UserManagemantWindow.js")" type="text/javascript"></script>
<script src="@Url.Content("~/app/view/admin/AdminManagemantForm.js")" type="text/javascript"></script>

<!--windows tab!-->
<script src="@Url.Content("~/app/view/admin/UnitForm.js")" type="text/javascript"></script>
<script src="@Url.Content("~/app/view/admin/CustomerForm.js")" type="text/javascript"></script>
<script src="@Url.Content("~/app/view/admin/MeterialForm.js")" type="text/javascript"></script>
<script src="@Url.Content("~/app/view/admin/SupplierFrom.js")" type="text/javascript"></script>
<script src="@Url.Content("~/app/view/admin/DepartmentFrom.js")" type="text/javascript"></script>
<script src="@Url.Content("~/app/view/admin/DepartmentFrom.js")" type="text/javascript"></script>
<!-- Common Tab-->
<script src="@Url.Content("~/app/view/admin/BrandForm.js")" type="text/javascript"></script>
<script src="@Url.Content("~/app/view/admin/ColorForm.js")" type="text/javascript"></script>
<script src="@Url.Content("~/app/view/admin/SizesForm.js")" type="text/javascript"></script>
<script src="@Url.Content("~/app/view/admin/CatelogyForm.js")" type="text/javascript"></script>

@*<script src="@Url.Content("~/app/view/admin/CellEdit.js")" type="text/javascript"></script>*@
<script src="@Url.Content("~/app/view/admin/test1.js")" type="text/javascript"></script>

<!--adminwindows-->
<script src="@Url.Content("~/app/model/admin/unitdata.js")" type="text/javascript"></script>
<script src="@Url.Content("~/app/model/admin/materialData.js")" type="text/javascript"></script>
<script src="@Url.Content("~/app/model/admin/departmentData.js")" type="text/javascript"></script>
<script src="@Url.Content("~/app/view/windowsadmin/EditMaterialWindow.js")" type="text/javascript"></script>
<script src="@Url.Content("~/app/view/windowsadmin/EditUnitWindow.js")" type="text/javascript"></script>
<script src="@Url.Content("~/app/view/windowsadmin/EditDepartmentWindow.js")" type="text/javascript"></script>
<!--edit common-->
<script src="@Url.Content("~/app/view/windowsadmin/EditBrandWindow.js")" type="text/javascript"></script>
<script src="@Url.Content("~/app/view/windowsadmin/EditColorWindow.js")" type="text/javascript"></script>
<script src="@Url.Content("~/app/view/windowsadmin/EditSizesWindow.js")" type="text/javascript"></script>
<script src="@Url.Content("~/app/view/windowsadmin/EditCatelogyWindow.js")" type="text/javascript"></script>



<!-- start main app -->
<script type="text/javascript">
    Ext.Loader.setConfig({ enabled: true });
    Ext.Loader.setPath('Ext.ux', '@Url.Content("~/Scripts/extjs/ux")');
    Ext.require(['*']);

    

    Ext.QuickTips.init();

        var proxyOptions = {
            type: 'ajax',
            reader: {
                type: 'json', root: 'data', totalProperty: 'total'
            }
        };

        //Data Grid 
        window.gridMeterial = '@Url.Action("GridEoq","Admin")';
        //
        var userstore = new Ext.data.Store({
            //fields: ['UserName', 'Email', 'Roles'],
            model: 'UsermanagementViewModel',
            pageSize: 15,
            //autoLoad: true,
            proxy: {
                type: 'ajax',
                url: window.gridData,
                reader: {
                    type: 'json',
                    root: 'items',
                    totalProperty: 'total'
                },
                simpleSortMode: true
            }
        });
        //Material
        var materialStore = new Ext.data.Store({
            //fields: ['UserName', 'Email', 'Roles'],
            model: 'MaterialViewModel',
            pageSize: 15,
            //autoLoad: true,
            proxy: {
                type: 'ajax',
                url: window.gridData,
                reader: {
                    type: 'json',
                    root: 'items',
                    totalProperty: 'total'
                },
                simpleSortMode: true
            }
        });


        //store unit 
        var unitstore = new Ext.data.Store({
            //fields: ['UserName', 'Email', 'Roles'],
            model: 'UnitViewModel',
            //pageSize: 15,
            autoLoad: true,
            proxy: {
                type: 'ajax',
                url: window.unitData,
                reader: {
                    type: 'json',
                    root: 'items',
                    totalProperty: 'total'
                },
                simpleSortMode: true
            }
        });
        
         
        var userManagementForm = new UserManagementForm({ id: 'usermanagementform', region: 'north', store: userstore });

        //new class tab
        var adminManagementForm = new AdminManagementForm({ id: 'adminmanagementform', region: 'north' });
        var unitForm = new UnitForm({ id: 'unitform', region: 'north'});
        var meterialForm = new MeterialForm({ id: 'meterialform', region: 'north', store: materialStore });
        var customerForm = new CustomerForm({ id: 'customerform', region: 'north' });
        var supplierFrom = new SupplierFrom({ id: 'suupplierform', region: 'north' });
        var departmentFrom = new DepartmentFrom({ id: 'suupplierform', region: 'north' });
        //var celledit = new CellEdit({ id: 'celleditfrom', region: 'north' });
        //var test1 = new TestFrom({ id: 'TestFrom', region: 'north' });
        //userManagementForm.setStore(userstore);

        var inAdmin = "@ViewBag.InAdminRole";

        //Tab Common
        var color = new ColorForm({ id: 'colorform', region: 'north' });
        var sizes = new SizesForm({ id: 'sizesform', region: 'north' });
        var brand = new BrandForm({ id: 'brandform', region: 'north' });
        var catelogy = new CatelogyForm({ id: 'catelogyform', region: 'north' });


        var tabItems = [];
        //add tab
        tabItems.push(userManagementForm);
        tabItems.push(unitForm);
        tabItems.push(color);
        tabItems.push(sizes);
        tabItems.push(brand);
        //tabItems.push(departmentFrom);
        //tabItems.push(customerForm);
        //tabItems.push(adminManagementForm);
        tabItems.push(catelogy);
        tabItems.push(meterialForm);
        //tabItems.push(importwindwosFrom);
        //tabItems.push(departmentFrom);
        //tabItems.push(supplierFrom);

        //tabItems.push(celledit);
        //tabItems.push(test1);
        

        /*
        *    start viewport [app.js]
        */

        var viewport = Ext.create('Ext.Viewport', {
            id: 'viewport',
            layout: 'border',
            items: [
                    {
                        xtype: 'panel',
                        region: 'north',
                        height: 25, // give north and south regions a height
                        title: 'Device Management [ ' + currentUser + ' : ' + CurrentUserRole
                                + ' ]<a href=' + actionLogoff + ' style="font-family:verdana;font-size:12px;color:red;text-decoration: none;">   Logoff</a>'
                    },
                    {
                        xtype: 'tabpanel',
                        region: 'center',
                        items: tabItems
                    }
            ]
        });
</script>
