@{
    //ViewBag.Title = "Index";
}
<style type="text/css">
    .layput-table
    {
        padding: 0 5px;
    }
</style>
<style type="text/css">
    .number-align
    {
        text-align: right;
    }
</style>
<script src='@Url.Content("~/Scripts/extjs/ext-all.js")' type="text/javascript"></script>
@*<link rel="stylesheet" type="text/css" href='@Url.Content("~/Scripts/extjs/resources/css/ext-all.css")' />*@
<link rel="stylesheet" type="text/css" href='@Url.Content("~/Content/Site.css")' />
<link rel="stylesheet" type="text/css" href='@Url.Content("~/Content/icons.css")' />
<script type="text/javascript">
    Ext.Loader.setConfig({ enabled: true });
    Ext.Loader.setPath('Ext.ux', '@Url.Content("~/Scripts/extjs/ux")');


    //var currentUser = '@ViewBag.CurrentUser';
    //var CurrentUserRole = '@ViewBag.CurrentUserRole';
    //var actionLogoff = "@Url.Action("Logoff", "Account")";

    //window.ContentPath = '@Url.Content("~/Content/")';

    ////register
    //window.register = '@Url.Action("Register","Account")';

    ////get allroles
    //window.GenComboboxRole = '@Url.Action("GetRoles","Account")';
    ////Change role
    //window.changeRole = '@Url.Action("UpdateUserRole","Account")';
    ////Change password
    //window.changePassword = '@Url.Action("ResetPassword","Account")';
    ////Disable User
    //window.disableUser = '@Url.Action("DisableUser","Account")';

    //window.gridData = '@Url.Action("GetUserAll", "Account")';
    //
</script>
<script src="@Url.Content("~/app/view/users/usermodels.js")" type="text/javascript"></script>

<!-- maybe not use -->
<!-- 
<script src="@Url.Content("~/app/view/users/words-en.js")" type="text/javascript"></script>
<script src="@Url.Content("~/app/view/users/ConfWindow.js")" type="text/javascript"></script>
<script src="@Url.Content("~/app/view/users/ProfWindow.js")" type="text/javascript"></script>
<script src="@Url.Content("~/app/view/users/CommWindow.js")" type="text/javascript"></script>
-->

<script src="@Url.Content("~/app/view/users/EditUserManagemantWindow.js")" type="text/javascript"></script>
<script src="@Url.Content("~/app/view/users/UserManagemantWindow.js")" type="text/javascript"></script>
<script src="@Url.Content("~/app/view/admin/AdminManagemantForm.js")" type="text/javascript"></script>
<script src="@Url.Content("~/app/view/admin/UnitForm.js")" type="text/javascript"></script>
<script src="@Url.Content("~/app/view/admin/CustomerForm.js")" type="text/javascript"></script>
<script src="@Url.Content("~/app/view/admin/MeterialForm.js")" type="text/javascript"></script>
<script src="@Url.Content("~/app/view/admin/SupplierFrom.js")" type="text/javascript"></script>
<script src="@Url.Content("~/app/view/admin/DepartmentFrom.js")" type="text/javascript"></script>

<script type="text/javascript">
    Ext.Loader.setConfig({ enabled: true });
    Ext.Loader.setPath('Ext.ux', '@Url.Content("~/Scripts/extjs/ux")');
    Ext.require(['*']);

    //DEPARTMENT

    Ext.onReady(function () {
        Ext.QuickTips.init();

        //var proxyOptions = {
        //    type: 'ajax',
        //    reader: {
        //        type: 'json', root: 'data', totalProperty: 'total'
        //    }
        //};

        ////
        //var userstore = new Ext.data.Store({
        //    //fields: ['UserName', 'Email', 'Roles'],
        //    model: 'UsermanagementViewModel',
        //    pageSize: 15,
        //    //autoLoad: true,
        //    proxy: {
        //        type: 'ajax',
        //        url: window.gridData,
        //        reader: {
        //            type: 'json',
        //            root: 'items',
        //            totalProperty: 'total'
        //        },
        //        simpleSortMode: true
        //    }
        //});

        //var userManagementForm = new UserManagementForm({ id: 'usermanagementform', region: 'north', store: userstore });
        //new class tab
        var adminManagementForm = new AdminManagementForm({ id: 'adminmanagementform', region: 'north' });
        var unitForm = new UnitForm({ id: 'unitform', region: 'north' });
        var customerForm = new CustomerForm({ id: 'customerform', region: 'north' });
        var meterialForm = new MeterialForm({ id: 'meterialform', region: 'north' });
        var supplierFrom = new SupplierFrom({ id: 'suupplierform', region: 'north' });
        var departmentFrom = new DepartmentFrom({ id: 'suupplierform', region: 'north' });

        //userManagementForm.setStore(userstore);

        var inAdmin = "adminTest"; //"@ViewBag.InAdminRole";

        var tabItems = [];
        //add tab
        tabItems.push(adminManagementForm);
        tabItems.push(customerForm);
        tabItems.push(departmentFrom);
        tabItems.push(supplierFrom);
        tabItems.push(unitForm);
        tabItems.push(meterialForm);
        var viewport = Ext.create('Ext.Viewport', {
            id: 'viewport',
            layout: 'border',
            items: [
                    {
                        xtype: 'panel',
                        region: 'north',
                        height: 25, // give north and south regions a height
                        title: 'Device Management [ ' + 'currentUser' + ' : ' + 'CurrentUserRole'
                                + ' ]<a href=' + 'actionLogoff' + ' style="font-family:verdana;font-size:12px;color:red;text-decoration: none;">   Logoff</a>'
                    },
                    {
                        xtype: 'tabpanel',
                        region: 'center',
                        items: tabItems
                    }
            ]
        });
    });

</script>
